function Main.main 7
push constant 50
push constant 50
push constant 0
call Point.new 3
pop local 2
push local 2
push constant 10
call Snake.new 2
pop local 3
push local 3
push constant 4
call Snake.addPoint 2
pop temp 0
push local 3
push constant 4
call Snake.addPoint 2
pop temp 0
push constant 2
pop local 6
push local 6
call Array.new 1
pop local 4
push constant 0
push local 4
add
push constant 30
push constant 30
push constant 0
call Point.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 4
add
push constant 100
push constant 80
push constant 0
call Point.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 4
push local 6
push local 3
call SnakeGame.new 3
pop local 5
push local 5
call SnakeGame.run 1
pop temp 0
push constant 0
return
