function SnakeGame.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 3
push pointer 0
return
function SnakeGame.run 13
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
push constant 0
pop this 2
push constant 0
pop local 11
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 81
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 1
label IF_FALSE0
push local 0
push constant 131
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 1
pop this 2
push constant 0
not
pop local 11
label IF_FALSE1
push local 0
push constant 133
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
pop this 2
push constant 0
not
pop local 11
label IF_FALSE2
push local 0
push constant 130
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 3
pop this 2
push constant 0
not
pop local 11
label IF_FALSE3
push local 0
push constant 132
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 4
pop this 2
push constant 0
not
pop local 11
label IF_FALSE4
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
goto WHILE_EXP2
label WHILE_END2
push local 11
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
pop local 10
push constant 0
pop local 2
push this 3
call Snake.getHead 1
pop local 8
push local 8
call Point.getX 1
pop local 4
push local 8
call Point.getY 1
pop local 5
label WHILE_EXP3
push local 2
push this 1
lt
not
if-goto WHILE_END3
push local 2
push this 0
add
pop pointer 1
push that 0
push constant 0
eq
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 2
push this 0
add
pop pointer 1
push that 0
pop local 9
push local 9
call Point.getX 1
pop local 6
push local 9
call Point.getY 1
pop local 7
push local 4
push local 6
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push local 5
push local 7
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 3
push this 2
call Snake.addPoint 2
pop temp 0
push constant 0
not
pop local 10
push local 2
push this 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 12
push constant 1
add
pop local 12
label IF_FALSE8
label IF_FALSE7
label IF_FALSE6
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP3
label WHILE_END3
push local 10
not
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 3
push this 2
call Snake.move 2
pop temp 0
push this 3
call Snake.getHead 1
pop local 8
push local 8
call Point.getNext 1
pop local 9
push local 8
call Point.getX 1
pop local 4
push local 8
call Point.getY 1
pop local 5
label WHILE_EXP4
push local 9
push constant 0
eq
not
not
if-goto WHILE_END4
push local 9
call Point.getX 1
pop local 6
push local 9
call Point.getY 1
pop local 7
push local 4
push local 6
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push local 5
push local 7
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 0
return
label IF_FALSE11
label IF_FALSE10
push local 9
call Point.getNext 1
pop local 9
goto WHILE_EXP4
label WHILE_END4
label IF_FALSE9
push local 12
push this 1
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 0
return
label IF_FALSE12
label IF_FALSE5
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
